/* FOOOTER */

footer {
  background: var(--green);
  position: relative;
}

.footer .footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem;
  margin-bottom: 11rem;
}


.section.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73vh;
  position: relative;
}


.footer .footer-flex h6 {
  color: var(--white);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.footer .footer-flex p {
  color: var(--white);
  font-family: Poppins;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.5%;
  text-transform: capitalize;
}

.footer .footer__icons_flex {
  display: flex;
  gap: 1rem;
}

.footer .footer-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer .footer__flex_location {
  display: flex;
  gap: 10px;
}

.footer__border-bottom {
  position: absolute;
  content: '';
  background: var(--white);
  height: 2px;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 70px;
}

footer .footer__copyright {
  position: absolute;
  bottom: 0px;
  padding: 2rem 0;
  text-align: center;
  right: 0;
  left: 0;
  width: 100%;
}

.footer__copyright h6 {
  color: var(--white);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.5%;
  /* 22.48px */
}

.footer-flex a {
  transition: .6s;
}

.footer-flex a:hover svg circle {
  fill: blanchedalmond;
}



.hamburger {
  position: absolute;
  right: 0px;
  top: 24px;

  display: none;
}

.menu {
  --s: 40px;
  /* control the size */
  --c: rgb(255, 255, 255);
  /* the color */

  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000) repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.menu:before,
.menu:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}

.menu:checked:before {
  transform: rotate(45deg);
}

.menu:checked:after {
  transform: rotate(-45deg);
}

.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}


.press__hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-image: url("../img/overlay.jpg");
}


.press__hero h2 {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.press_flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  /* padding: 0 5rem */
}

.press_flex {
  padding: 7rem 0
}

.press__container_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #141211;
  /* height: 70vh; */
}

.press_flex div {
  border-radius: 20px;
  border: 3px solid #3DAB35;
  padding: 3rem 1rem;
}

.press_flex a {
  display: block;
  width: 100%;

  color: #FFF;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  /* 156.25% */
  text-decoration-line: underline;
}

.press_flex a {
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-size: 10px;
}

.job__hero h2 {
  color: #FFF;
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  /* 45.455% */
}


.job__hero {
  height: 100vh;
  background-image: url("../img/Images/2/Overlay\ SVG.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload__flex p {
  color: crimson;
  font-family: 'Poppins';
}


.job__hero>div {
  text-align: center;
  width: 71vw;
  margin: 0 auto;


  display: flex;
  flex-direction: column;
  gap: 3rem;
}


.job__hero p {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}


.job__container {
  padding: 6rem 0;
  background: #141211;
  color: #fff;
  padding-bottom: 3rem;
}


.job__container .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.job__responsibilities li {
  display: flex;
  gap: 10px;
  align-items: center;
}


.upload__resume .resume__class label {
  border-radius: 10px;
  border: 2px dashed #3DAB35;
  height: 100%;
}

.upload__resume .resume__class h3 {
  color: #FFF;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.upload__resume .resume__class p {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  padding: 0 1.4rem
}

.upload__resume .upload__flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.upload__resume-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;
  margin-top: 5rem;
}

.upload__flex input {
  border-radius: 5px;
  border: 2px solid rgb(222, 222, 222);
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140.5%;
  height: 56px;
  padding-left: 1rem;
  background: transparent;
  width: 100%;
}

.upload__flex input:focus {
  border: none;
}

.upload__flex button[type="submit"] {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  height: 55px;
  background: #3DAB35;
  text-transform: capitalize;
  border: none;
  outline: none;

  border-radius: 10px;
  width: 120px;
  cursor: pointer;
}


.upload__flex ::placeholder {
  color: #fff;
}

.resume__class {
  height: 100%;
}

.resume__class label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  height: 100%;
}

.job__container .others {
  border-radius: 20px;
  border: 3px solid #3DAB35;
  width: 75vw;
  margin: 7rem auto;

  padding: 67px 90px;
}

.job__container .others div {
  /* width: 71vw;
  margin:  0 auto;
  text-align: center; */
}

#resume {
  display: none;
}











/* HAMBURGER */



.containers {
  cursor: pointer;
  display: flex;

  position: static !important;
}

.containers svg {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 80px
}

.active svg {
  transform: rotate(90deg);
}

.containers path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.containers path:nth-child(1) {
  transform-origin: 36% 40%;
}

.containers path:nth-child(2) {
  stroke-dasharray: 29 299;
}

.containers path:nth-child(3) {
  transform-origin: 35% 63%;
}

.containers path:nth-child(4) {
  stroke-dasharray: 29 299;
}

.containers path:nth-child(5) {
  transform-origin: 61% 52%;
}

.containers path:nth-child(6) {
  transform-origin: 62% 52%;
}

.active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}

.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}

.active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}

.active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}





@media screen and (max-width: 1238px) {
  .press_flex {
    grid-template-columns: repeat(2, 1fr);
  }

  .press_flex div {
    padding: 3rem 0.2rem;
  }
}



@media screen and (max-width: 768px) {
  .upload__resume .resume__class {
    padding: 1rem;
  }

  .job__container .others {

    width: 90vw;
    margin: 7rem auto;
    padding: 27px 20px;
  }

  .press_flex {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .press_flex div {
    padding: 3rem 0.2rem;
  }

  .job__hero>div {
    text-align: center;
    width: 95vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .job__hero {
    height: calc(100vh + 100px);
  }

  .upload__resume-flex {
    grid-template-columns: 1fr;
    gap: 4rem;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 360px) {

  .press_flex a {
    font-size: 8px;
  }
}